$color-white: #ffffff;
$color-black: #222222;
$color-gray-lightest: #eeeeee;
$color-gray-light: #bbbbbb;
$color-gray-dark: #777777;

$color-font-dark: #222222;

$text-shadow-color: #555555;
$box-shadow-color: #000;



$color-main: #348AE6;
$color-main-light: #54A7FF;
$color-main-dark: #145499;
$color-juxtapose-dark: #996305;
$color-juxtapose-light: #E6A535;


// $color-main: brown;

// $color-primary-light: rgb(83, 172, 204);
// $color-primary: rgb(65, 135, 160);
// $color-primary-dark: rgb(26, 104, 133);

// $color-secondary-light: rgb(255, 210, 0);
// $color-secondary: rgb(255, 165, 0);
// $color-secondary-dark: rgb(255, 69, 0);

// $color-tertiary-light: rgb(83, 172, 204);
// $color-tertiary: rgb(65, 135, 160);
// $color-tertiary-dark: rgb(26, 104, 133);

$ib-color: orangered;
$ap-color: paleturquoise;
$hs-color: yellowgreen;
// $simulation-color: rgb(3, 173, 108);
// $default-color: rgb(165, 83, 140);
