@import '../../styles/variables';

.search-results {
    width: 50%;
    text-align: left;
    margin-left: 41rem;
}

.search {

   position: relative;
   display: inline-block;
   width: 40rem;
   height: 20rem;
   font-size: 1.6rem;
   padding: 2rem 4rem;
   perspective: 150rem;
   -moz-perspective: 150rem;
   text-align: left;   
   margin: 2rem 2.5rem;
   transition: all .3s;

   margin-left: -35rem;

   &:hover:not(:last-child) {
       padding-right: 38rem;
   }
   
   &__button {
      
        opacity: 0;
        
        &--label {
            opacity: 0;
            position: absolute;
            left: 0;
            top: 0;
            width: 7rem;
            height: 100%;
            background-color: transparent;
            transition: transform 0;
            cursor: pointer;
      }
   }

   &__button:checked ~ &__front {
      background-color: blue;
      transform: rotateY(-180deg) scale(1.1) translateX(1rem);
   }
   
   &__button:checked ~ &__back {
      transform: rotateY(0deg) scale(1.1) translateX(1rem);
   }

    &__button:checked ~ &__button--label {
       
        position: absolute;
        top: 2rem;
        left: 2rem;
        background-color: orangered;
        z-index: 10;
        height: 2rem;
        width: 2rem;
        padding: .5rem 1rem;
        transition: height 0, width 0, opacity .2s;
        opacity: 1;

        &--icon::before, &--icon:after {
            content: "";
            display: inline-block;            
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba($color-black, .6);
            height: .2rem;
            width: 3rem;
            transform-origin: center;
        }

        &--icon::before {
            transform: rotate(-45deg);
        }

        &--icon::after {
            transform: rotate(45deg);
        }
    }
   
   &__side {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all .5s;
      z-index: -1;
      backface-visibility: hidden;
      overflow: hidden;
      box-shadow: 0 1rem 2rem rgba($color-black, .5);
      border-radius: 5px;
   }

   &__front {
      font-size: 3em;
      text-align: center;
      background-image: linear-gradient(to bottom right, $color-secondary, $color-secondary-dark);
   }

   &__back {
      transform: rotateY(180deg);
      background-image: linear-gradient(to bottom right, $color-primary, $color-primary-dark);
      padding: 2rem;
      height: 100%;
      width: 100%;
      z-index: 1;
   }

   &__background {
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       z-index: -10;
       opacity: .20;
       overflow: hidden;

       &--video {
            object-fit: cover;
            width: 100%;
            height: 100%;
       }
   }

   &__info-left {
       float: left;
       width: 45%;
       margin-right: .2rem;
   }

   &__info-right {
       float: right;
       width: 50%;
   }
   
   &__text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      // overlapping text
      left: 0;
      font-size: 1.6rem;
      text-overflow: clip;
      width: 7rem;
      transform: translateY(-50%) rotate(-90deg);
   }

   &__name {
       font-size: 2.4rem;
       font-weight: 700;
   }

   &__version {
       font-size: 1.2rem;
   }

   &__description {
       font-size: 1.5rem;
       text-align: justify;
       -moz-hyphens: auto;
       hyphens: auto;
   }

   &__tags {
       
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 2rem 2rem;

        :not(:last-child) {
            margin-right: .3rem;
        }

       &--tag {
        display: inline-block;
        margin-top: .5rem;
        padding: .3rem;
        font-size: 1.1rem;
        text-align: center;
        border-radius: 3px;
        box-shadow: .1rem .3rem .4rem rgba($color-black, .5);
        border: 1px solid black;
        transition: all .2s;
        opacity: .7;

        &:hover {
            transform: scale(1.2) rotate(2deg);
            opacity: 1;
            cursor: pointer;
        }
    }
   }

   &__links {

    margin: .5rem 0;
    padding: .2rem 0;
    
    &--link {
        
        transition: all .2s;
        
        &:link, &:visited {
            text-decoration: none;
            color: $color-primary-dark;
            background-color: rgba($color-gray-lightest, .7);
            padding: .2rem .4rem;
        }
    
        &:hover {
            transform: translateY(-3px);
            font-weight: bold;
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
        }
        
        &:active {
            transform: translateY(-1px);
            box-shadow: 0 .5rem 1rem rgba($color-black, .6);
        }
    }

    
   }

   &__select {

    select {
        padding: .2rem .5rem;
    }
   }

}

.tag--ib {
    background-color: $ib-color;
}

.tag--ap {
    background-color: $ap-color;
}

.tag--hs {
    background-color: $hs-color;
}

.tag--simulation {
    background-color: $simulation-color;
}

.tag--default {
    background-color: $default-color;
}
