<div class="data-gen">

	{{ equationIncorrect ? 'You have an incorrect equation format: ' + errorMessage : 'Equation Valid' }}

	<div class="data-gen__properties">
		<div class="data-gen__property">
			<div class="data-gen__property--text">
				Equation
			</div>
			<div class="data-gen__property--input">
				<input type="text" class="data-gen__input" [(ngModel)]="equation">
				<button class="data-gen__button" (click)="breakEquation()">Process Equation</button>
			</div>
		</div>

		<div class="data-gen__property" *ngFor="let variable of equationComponents">
			<div class="data-gen__property--text">
				{{ variable.letter }}
        <input type="checkbox" name="iv" class="data-gen__checkbox" [(ngModel)]="variable.iv">
        <label for="iv" class="data-gen__label" [class.data-gen__label--checked]="variable.iv" (click)="checkIV(variable.letter)"></label>
			</div>
			<div class="data-gen__property--input">
				Min <input type="text" class="data-gen__input data-gen__input--small" [(ngModel)]="variable.min">
				Max <input type="text" class="data-gen__input data-gen__input--small" [(ngModel)]="variable.max">
			</div>
		</div>

		<div class="data-gen__generation" *ngIf="equationComponents.length > 0">
			<div class="data-gen__property">
				<div class="data-gen__property--text">
					Trials
				</div>
				<div class="data-gen__property--input">
					<input type="text" class="data-gen__input data-gen__input--small" [(ngModel)]="trials">
				</div>
			</div>

			<div class="data-gen__property">
				<div class="data-gen__property--text">
					IV Values
				</div>
				<div class="data-gen__property--input">
					<input type="text" class="data-gen__input data-gen__input--small" [(ngModel)]="ivRange">
				</div>
			</div>

			<div class="data-gen__property">
				<div class="data-gen__property--text">
					Error
				</div>
				<div class="data-gen__property--input">
					<input type="text" class="data-gen__input data-gen__input--small" [(ngModel)]="error">
				</div>
			</div>

      <div class="data-gen__property">
				<div class="data-gen__property--text">
					Sig Figs (not yet, write pipe)
				</div>
				<div class="data-gen__property--input">
					<input type="text" class="data-gen__input data-gen__input--small" [(ngModel)]="sigfig">
				</div>
			</div>
    </div>


    <button class="data-gen__button" (click)="generateConstants()">Generate New Constants</button>
    <button class="data-gen__button" (click)="generateData()" *ngIf="constants.length > 0">Generate Data</button>
  </div>

  <div class="data-gen__output">
    <div class="data-gen__output--row" *ngFor="let experiment of generatedData">
      <div class="data-gen__output--iv">{{ experiment.iv }}</div>
      <div class="data-gen__output--item" *ngFor="let data of getIVData(experiment.iv)">
        {{ data.data | number:'.0-2' }}
      </div>
    </div>
  </div>
</div>
