.tooltip {
  position: fixed;

  max-width: 20rem;
  height: auto;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: lightblue;
  opacity: 0;

  z-index: 112001;

  font-size: 1.2rem;

  filter: drop-shadow(.2rem 0 .4rem rgba(white, .5));

  pointer-events: none;

  &__arrow {

    position: absolute;

    clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
    background-color: lightblue;

    &--tl,  &--tr, &--bl, &--br { width: 1rem; height: .5rem; transform: translateX(-50%); }

    &--tl, &--tr { clip-path: polygon(0% 100%, 50% 0%, 100% 100%); }
    &--bl, &--br { clip-path: polygon(0% 0%, 100% 0%, 50% 100%); }

    &--tl { left: clamp(1.5rem, 1.5rem, 20%); top: -.5rem; }
    &--tr { right: clamp(1.5rem, 1.5rem, 20%); top: -.5rem;}

    &--bl { left: clamp(1.5rem, 1.5rem, 20%); bottom: -.5rem;  }
    &--br { right: clamp(1.5rem, 1.5rem, 20%); bottom: -.5rem;  }
  }
}

.fadeInTooltip { animation: fadeInTT .1s ease-in-out 0s 1 forwards; }
.fadeOutTooltip { animation: fadeOutTT .1s ease-in-out 0s 1 forwards; }

@keyframes fadeInTT { 0% { opacity: 0; } 100% { opacity: 1; }}
@keyframes fadeOutTT { 0% { opacity: 1; } 100% { opacity: 0; }}
