<div class="simulation">

    <div class="error-box" *ngIf="questionComplete">Done... New question coming in {{ countdown }}</div>
    <div class="error-box" *ngIf="errorThrown">Error whilst submitting data - please try again.</div>
    <div class="error-box" *ngIf="submissionQuantity > 0">Submitting scores, {{ submissionQuantity }} remaining...</div>

    <div class="grid-container">

        <div class="question-image-container">
            <div class="question-image">
                <canvas class="question-image" width="500" height="445" #ImageCanvas></canvas>
            </div>
            <div class="question-data">
                <div class="question-image-data">



                    <p *ngIf="display.velocity" class="question-timer"><b>Initial Velocity</b>: {{ velocityFired | number:'1.2-2' }} m/s</p>
                    <p *ngIf="display.time" class="question-timer"><b>Current Time</b>: {{ currentTime | number:'1.2-2' }} seconds</p>
                    <p *ngIf="display.xInitSpeed" class="question-timer"><b>Initial Velocity (x)</b>: {{ valueInitialSpeed.x | number:'1.2-2' }} m/s</p>
                    <p *ngIf="display.yInitSpeed" class="question-timer"><b>Initial Velocity (y)</b>: {{ valueInitialSpeed.y | number:'1.2-2' }} m/s</p>
                    <p *ngIf="display.xCurrentSpeed" class="question-timer"><b>Current Velocity [x]</b>: {{ currentSpeed.x | number:'1.2-2' }} m/s</p>
                    <p *ngIf="display.yCurrentSpeed" class="question-timer"><b>Current Velocity [y]</b>: {{ currentSpeed.y | number:'1.2-2' }} m/s</p>
                    <p *ngIf="display.angleFired" class="question-timer"><b>Angle of Velocity</b>: {{ angleFired | number:'1.2-2' }} degrees</p>
                    <p *ngIf="display.gravity" class="question-timer"><b>Gravitational Acceleration</b>: {{ gravity | number:'1.2-2' }} m/s2</p>


                    <p *ngIf="display.xAcceleration" class="question-timer"><b>Acceleration [x]</b>: {{ currentAcceleration.x | number:'1.2-2' }} m/s2</p>
                    <p *ngIf="display.yAcceleration" class="question-timer"><b>Acceleration [y]</b>: {{ currentAcceleration.y | number:'1.2-2' }} m/s2</p>
                    <p *ngIf="display.current_range" class="question-timer"><b>Current Distance [x]</b>: {{ currentRange | number:'1.2-2' }} meters</p>
                    <p *ngIf="display.current_height" class="question-timer"><b>Current Height [y]</b>: {{ currentHeight | number:'1.2-2' }} meters</p>

                    <p *ngIf="display.maxHeight" class="question-timer"><b>Max Height</b>: {{ valueDistance.height | number:'1.2-2' }} meters</p>
                    <p *ngIf="display.totalRange" class="question-timer"><b>Total Range</b>: {{ valueDistance.range | number:'1.2-2' }} meters</p>
                    <p *ngIf="display.totalTime" class="question-timer"><b>Time to Land</b>: {{ valueTime.final | number:'1.2-2' }} seconds</p>
                    <p *ngIf="display.maxHeightTime" class="question-timer"><b>Time to Max Height</b>: {{ valueTime.maxHeight | number:'1.2-2' }} seconds</p>
                </div>
                <div class="question-image-buttons">
                    <button class="button-control" (click)="startAnimation()" *ngIf="!animationStarted">Start</button>
                    <button class="button-control" (click)="stopAnimation()" *ngIf="animationStarted && !animationEnded">{{ paused === true ? 'Un-Pause' : 'Pause' }}</button>
                    <button class="button-control" (click)="resetQuestion()" *ngIf="animationEnded || paused">Restart Simulation</button>
                </div>
            </div> 
            
            <div class="question-changespeedscale-projectiles">

               <div class="question-changespeedscale-button"><b>Speed</b></div>
               <div class="question-changespeedscale-button"><input type="range" class="custom-speed-range" min="0" max="2" step="0.001" [(ngModel)]='speedscale'></div>
               <div class="question-changespeedscale-button"><input type="text" class="custom-speed-input" [(ngModel)]='speedscale' alt="tip"></div>

               <div class="question-gravityvalues">
                  <select (change)="modifyGravity($event.target.value)" class="question-select">
                     <option selected disabled hidden>Select your planet</option>
                     <option value="274">The Sun</option>
                     <option value="3.7">Mercury</option>
                     <option value="8.87">Venus</option>
                     <option value="9.81">Earth</option>
                     <option value="3.711">Mars</option>
                     <option value="24.79">Jupiter</option>
                     <option value="10.44">Saturn</option>
                     <option value="8.87">Uranus</option>
                     <option value="11.15">Neptune</option>
                 </select>
               </div>
           </div>
            
        </div>
        
        <div class="question-question-container">

            <div class="question-buttons">
                <button (click)="newQuestion()">New Question</button>
                <button (click)="submitResults()" *ngIf="loggedIn && resultsToAdd" [disabled]="lastUpdatedRecently">{{ !lastUpdatedRecently ? 'Put Results in Database' : 'You cannot submit data more than once every two minutes' }}</button>
                
                <select (change)="loadNewQuestion($event.target.value)" class="question-select">
                    <option selected disabled hidden>Choose a new question</option>
                    <option *ngFor="let question of questionBank; let i = index" value="{{ i }}">[{{ question.difficulty }}] {{ question.questionName }}</option>
                </select>
            </div>

            <div class="question-text">{{ questionString }}</div>

            <form [formGroup]="formAnswers" (ngSubmit)="answersSubmitted()">

                <div *ngIf="questionId !== null">
                    <div class="question-container" [class.hot-streak]="question.onStreak" *ngFor="let question of questionBank[questionId].questions; let i = index">
                        <div class="question-question">{{ question.question }}</div>
                        <div class="question-input"><input type="text" formControlName="{{ question.id }}" [class.correct]="question.correct" [class.incorrect]="!question.correct" class="answer-input" maxlength="8"></div>
                        <div class="question-grade"><span title="{{ question.percentCorrect | gradeconversion }}">{{ question.percentCorrect | gradeconversion:'short' }}</span></div>
                        <div class="question-hint" *ngIf="showhint">
                            {{ question.hint }}
                            <hr *ngIf="question.equations.length > 0">
                            <div [mathjax]="equation" *ngFor="let equation of question.equations"></div>
                        </div>
                    </div>
                </div>

                <div class="question-buttons">
                    <button type="submit" style="float: right;">Submit Answers</button>
                    <button (click)="toggleHints()" style="float: left;">{{ showhint === true ? 'Hide' : 'Show' }} Hints</button>
                </div>

            </form>

        </div>
    </div>
</div>
