<div class="mazes">

  <div class="maze" id="mazes">

    <div class="maze__row" *ngFor="let row of maze.tiles; let i = index">
      <div class="maze__tile"
        [style]="createLinearGradientStyle(tile.passable.l, tile.passable.r, tile.passable.t, tile.passable.b)"
        [class]="tileStyle(i,o,tile)"
        (click)="clickMenu($event, i, o);" (contextmenu)="hideClickMenu()"
        *ngFor="let tile of row; let o = index">

          <div class="maze__graph" *ngIf="toggleGraph">
            <div class="maze__graph--left" *ngIf="tile.passable.l"></div>
            <div class="maze__graph--right" *ngIf="tile.passable.r"></div>
            <div class="maze__graph--top" *ngIf="tile.passable.t"></div>
            <div class="maze__graph--bottom" *ngIf="tile.passable.b"></div>
            <div class="maze__graph--point"></div>
          </div>

      </div>
    </div>
  </div>

  <div class="maze__controls">
      <section class="maze__controls--section">
      <div class="maze__controls--header">Maze Algorithm</div>
      <select name="algorithm" id="algorithm" class="maze__option" (change)="onLoadMazeType($event.target.value)">
        <option value="" disabled selected>Select maze algorithm</option>
        <option value="{{ alg.value }}" [selected]="alg.value === mazeAlgorithmName" *ngFor="let alg of algorithmsAvailable">{{ alg.name }}</option>
      </select>
      <div class="maze__controls--sidebyside">
        <input type="text" name="width" id="width" placeholder="Width" class="maze__input" [(ngModel)]="width">
        <input type="text" name="height" id="height" placeholder="Height" class="maze__input" [(ngModel)]="height">
      </div>
      <div class="maze__controls--sidebyside">
        <button class="maze__button" [class.maze__button--pressed]="!instantDraw" (click)="onClickInstant(false)">Show Path Drawn</button>
        <button class="maze__button" [class.maze__button--pressed]="instantDraw" (click)="onClickInstant(true)">Instant Draw</button>
      </div>
      <div class="maze__controls--sidebyside" *ngIf="!instantDraw">
        <div class="maze__controls--text"> Iterations / s </div>
        <input type="range" name="itpersec" id="itpersec" min="1" max="300" class="maze__range" [(ngModel)]="timedMazeIterationsPerSecond" (mouseup)="modifyMazeBuildSpeed()">
        <div class="maze__controls--text">{{ timedMazeIterationsPerSecond | number:'0.0-0' }}</div>
      </div>
      <button class="maze__button maze__button--long" (click)="startNewMazeGeneration()">Generate Maze</button>
      <button class="maze__button maze__button--long" (click)="thickenMaze()">Thicken Maze</button>
    </section>

    <section class="maze__controls--section"  *ngIf="maze.tiles.length > 0">
      <div class="maze__controls--header">Path Solution</div>
      <div class="maze__controls--sidebyside">
      </div>
      <div class="maze__controls--sidebyside">
        <select name="pathsolver" id="pathsolver" class="maze__option" (click)="onLoadPathingAlgorithm($event.target.value)">
          <option value="" disabled selected>Select path algorithm</option>
          <option value="astar">A*</option>
          <option value="dijkstra">Dijkstra</option>
        </select>
        <select name="pathsolver" id="pathsolver" class="maze__option" (click)="onLoadPathingHeuristic($event.target.value)" *ngIf="heuristicOptions.length > 0">
          <option value="" disabled selected>Select heuristic</option>
          <option value="{{ heuristicOption.name }}" *ngFor="let heuristicOption of heuristicOptions" [selected]="heuristicOption.name === heuristic">{{ heuristicOption.name }}</option>
        </select>
      </div>
      <div class="maze__controls--sidebyside">
        <button class="maze__button" [class.maze__button--pressed]="!instantPath" (click)="onClickPathInstant(false)">Show Path Drawn</button>
        <button class="maze__button" [class.maze__button--pressed]="instantPath" (click)="onClickPathInstant(true)">Solve Immediatele</button>
      </div>
      <div class="maze__controls--sidebyside" *ngIf="!instantPath">
        <div class="maze__controls--text">Step Duration</div>
        <input type="range" name="pathspeed" id="pathspeed" min="0.01" max="0.50" step="0.01" class="maze__range" [(ngModel)]="algorithmSolveSpeed" (mouseup)="modifyPathSolveSpeed()">
        <div class="maze__controls--text">{{ algorithmSolveSpeed | number:'0.2-2' }} s</div>
      </div>
      <button class="maze__button maze__button--long" (click)="solvePath()" [disabled]="!pathStartLocation || !pathEndLocation">Solve Path</button>
    </section>

    <section class="maze__controls--section" *ngIf="maze.tiles.length > 0">
      <div class="maze__controls--header">Controls</div>
      <div class="maze__controls--sidebyside">
        <button class="maze__button maze__button--auto" (click)="generatedMaze.playMaze()" *ngIf="!instantDraw">Play</button>
        <button class="maze__button maze__button--auto" (click)="generatedMaze.pauseMaze()" *ngIf="!instantDraw">Pause</button>
        <button class="maze__button maze__button--auto" (click)="onToggleGraph()">Graph Overlay</button>
      </div>
    </section>

    <section class="maze__controls--section" *ngIf="maze.tiles.length > 0">
      <div class="maze__controls--header">Maze Generation Stats</div>

      <div class="maze__stats">
        <div class="maze__stats--iterations">
          <div class="maze__stats--header">Iterations</div>
          <div class="maze__stats--sidebyside" style="height: 100%">

            <div class="maze__stats--ontop">
              <div class="maze__stats--smallheader">Min</div>
              <div class="maze__stats--verticalcounter">
                <div class="maze__stats--verticalcounter--count" [style.height]="iterationCount <= gridArea ? '100%' : createDynamicHeightForCount(gridArea, iterationCount)">
                  {{ gridArea }}
                </div>
              </div>
            </div>
            <div class="maze__stats--ontop">
              <div class="maze__stats--smallheader">Actual</div>
              <div class="maze__stats--verticalcounter">
                <div class="maze__stats--verticalcounter--count" [style.height]="iterationCount <= gridArea ? createDynamicHeightForCount(iterationCount, gridArea) : '100%'">
                  {{ iterationCount }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="maze__stats--time">
          <div class="maze__stats--header">Time</div>
          <div class="maze__stats--timetaken">{{ timeFormat(timeTaken) }} s</div>
        </div>
        <div class="maze__stats--solvespeed">
          <div class="maze__stats--header">Solve Speed</div>
          <div class="maze__stats--smallheader">Iterations per second</div>

          <div class="maze__stats--sidebyside">
            <div class="maze__stats--sideheader">Maximum</div>
            <div class="maze__stats--horizontalcounter">
                <div class="maze__stats--horizontalcounter--count">
                  {{ maxIterationsPerSecond }}
                </div>
            </div>
          </div>
          <div class="maze__stats--sidebyside">
            <div class="maze__stats--sideheader">Current</div>
            <div class="maze__stats--horizontalcounter">
                <div class="maze__stats--horizontalcounter--count" [style.width]="createDynamicWidthForCount(iterationsPerSecond[iterationsPerSecond.length - 1].iterations - iterationsPerSecond[iterationsPerSecond.length - 2]?.iterations, maxIterationsPerSecond)">
                  {{ (iterationsPerSecond[iterationsPerSecond.length - 1].iterations - iterationsPerSecond[iterationsPerSecond.length - 2]?.iterations) || (iterationCount / timeTaken) | number:'0.0-0'}}
                </div>
            </div>
          </div>

        </div>
        <div class="maze__stats--efficiency">
          <div class="maze__stats--header">Efficiency</div>
          <div class="maze__stats--header" [class.maze__stats--efficiency--good]="(gridArea / iterationCount) > 0.5" [class.maze__stats--efficiency--medium]="(gridArea / iterationCount) > 0.2 && (gridArea / iterationCount) < 0.5"  [class.maze__stats--efficiency--bad]="(gridArea / iterationCount) <= 0.2">{{ iterationCount < gridArea ? 'Waiting...' : ((gridArea / iterationCount) * 100 | number:'0.0-0') + '%' }}</div>
          <button class="maze__button maze__button--auto" [disabled]="!mazeCompleted" (click)="saveData()" *ngIf="!statsSaved">Save Stats</button>
        </div>
      </div>

    </section>
  </div>

</div>

<div class="maze__menu" id="maze__menu">
  <div class="maze__menu--buttons" *ngIf="clickedTile">

    <div class="maze__menu--pathLocations">
      <button (click)="setEntryToMaze(clickedTile.tile.id)" *ngIf="clickedTile.tile">Entry</button>
      <button (click)="setExitFromMaze(clickedTile.tile.id)" *ngIf="clickedTile.tile">Exit</button>
    </div>

    <div class="maze__menu--input">
      <input type="checkbox" name="left" id="left" [checked]="!clickedTile.tile.passable.l" (change)="changeTileWall('l')">
      <label for="left">Left Wall</label>
    </div>
    <div class="maze__menu--input">
      <input type="checkbox" name="right" id="right" [checked]="!clickedTile.tile.passable.r" (change)="changeTileWall('r')">
      <label for="right">Right Wall</label>
    </div>
    <div class="maze__menu--input">
      <input type="checkbox" name="top" id="top" [checked]="!clickedTile.tile.passable.t" (change)="changeTileWall('t')">
      <label for="top">Top Wall</label>
    </div>
    <div class="maze__menu--input">
      <input type="checkbox" name="bottom" id="bottom" [checked]="!clickedTile.tile.passable.b" (change)="changeTileWall('b')">
      <label for="bottom">Bottom Wall</label>
    </div>
  </div>
</div>
