.mazes {
  display: flex;
}

.maze {

  flex: 1 1;
  display: flex;
  flex-direction: column;
  padding: .5rem 1rem;
  overflow: hidden;

  &__row {
    display: flex;
  }

  &__tile {
    position: relative;
    flex: 1 1;
    background-color: white;
    aspect-ratio: 1 / 1;
    transition: all .05s;

    &--current { background-color: rgba(red, .3);}
    &--enter { background-color: green; }
    &--exit { background-color: black; }
    &--open { background-color: #aaaaaa;}
    &--closed { background-color: #555555;}
    &--wall { background-color: #000000;}

    &:hover {
      background-color: red;
    }
  }

  &__stats {


    display: grid;
    grid-template: 2fr 3fr 5rem / 1fr 2fr;
    background-color: blanchedalmond;
    border-radius: 1rem;
    box-shadow: 0 .4rem .8rem rgba(black, .5);
    padding: .5rem 1rem;

    &--iterations, &--time, &--solvespeed {
      display: flex;
      flex-direction: column;
      padding: .5rem 1rem;
    }

    &--sidebyside {
      display: flex;
      justify-content: space-between;
    }

    &--ontop {
      display: flex;
      flex-direction: column;
      width: 6rem;
      align-items: center;
      padding: .2rem .5rem;
      margin-left: -.5rem;

      &:first-of-type { margin-right: .3rem; }
    }

    &--iterations {
      grid-row: 1 / 3;
      grid-column: 1 / 2;
      margin-right: 1rem;
      border-right: .1rem solid rgba(black, .3);
    }

    &--time {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      margin-left: 1rem;
      padding-bottom: 1rem;
      margin-bottom: .7rem;
      border-bottom: .1rem solid rgba(black, .3);
    }

    &--timetaken {
      text-align: center;
      font-size: 2rem;
    }

    &--efficiency {
      display: flex;
      align-items: baseline;
      justify-content: space-around;
      grid-row: 3 / 4;
      grid-column: 1 / -1;
      border-top: .1rem solid rgba(black, .3);
      padding: .5rem 1rem;
      padding-bottom: 0rem;
      margin-top: 1rem;

      &--good { color: green; }
      &--medium { color: blue; }
      &--bad { color: red; }
    }

    &--solvespeed {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      margin-left: 1rem;
    }

    &--header, &--smallheader {
      font-weight: bold;
      text-align: center;
    }

    &--header {
      font-size: 1.4rem;
      padding: .5rem;
      margin-bottom: .5rem;
    }

    &--smallheader {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }

    &--sideheader {
      font-size: 1.2rem;
      width: 6rem;
      margin-right: 1rem;
      align-self: center;
    }

    &--text {
      font-size: 1.2rem;
      text-align: center;
    }

    &--verticalcounter {
      flex: 1;
      justify-content: flex-end;
      width: 100%;

      &--count {
        margin: .3rem;
        border: .1rem solid red;
        box-shadow: 0 .2rem .4rem rgba(black, .5);
        transition: height .2s;
        border-radius: 1rem 2rem;
        background-image: linear-gradient(to top, red, transparent 100%);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        font-size: 1rem;
        padding-top: 1rem;
        min-height: 3.5rem;
      }
    }

    &--horizontalcounter {
      flex: 1;
      align-self: center;

      &--count {
        margin: .3rem;
        border: .1rem solid red;
        box-shadow: 0 .2rem .4rem rgba(black, .5);
        width: 100%;
        transition: width 1s;
        border-radius: 1rem 2rem;
        text-align: right;
        font-size: 1rem;
        padding: .4rem;
        background-image: linear-gradient(to right, red, transparent 100%);
        padding-right: 1rem;
      }
    }

  }

  &__graph {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &--point {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 40%;
      height: 40%;
      background-color: white;
      border: .2rem solid green;
      border-radius: 50%;
    }

    &--left, &--top, &--bottom, &--right {
      position: absolute;
      background-color: red;
    }

    &--left, &--right {
      height: .2rem;
      top: calc(50% - .1rem);
      width: 50%;
    }

    &--top, &--bottom {
      width: .2rem;
      left: calc(50% - .1rem);
      height: 50%;
    }

    &--left { left: 0; }
    &--right { left: 50%; }
    &--top { top: 0; }
    &--bottom { top: 50%; }
  }

  &__data {
    font-size: 1.4rem;
  }

  &__menu {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 15rem;
    height: auto;
    background-color: white;
    padding: 1rem;
    font-size: 1.4rem;
    box-shadow: 0 .3rem .6rem rgba(black, .5);
    border-radius: 1rem;

    &--display {
      display: flex;
      flex-direction: column;
    }

    &--pathLocations {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-bottom: .5rem;
        border-bottom: .1rem solid rgba(black, .5);
        margin-bottom: .5rem;

        button {
          flex: 1;
          display: inline-block;
          padding: .5rem 1rem;
          text-align: center;
          border-radius: .7rem;
          box-shadow: 0 .3rem .6rem rgba(black, .4);
          transition: all .2s;

          &:first-of-type { margin-right: .5rem ;}

          &:hover {
            box-shadow: 0 .5rem .9rem rgba(black, .7);
            transform: translateY(-.2rem);
            cursor: pointer;
          }

          &:active {
            transform: translateY(-.1rem);
          }

        }
    }

    &--buttons {
      display: flex;
      flex-direction: column;
    }

    &--input {
      margin-bottom: .5rem;

      &:first-of-type { margin-top: 1rem; }

      input {
        margin-right: 1rem;
        padding: .2rem;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &__controls {
    flex-basis: 15rem;
    display: flex;
    flex-direction: column;

    @media print { display: none; }

    &--section {
      display: flex;
      flex-direction: column;
      padding: .5rem 1rem;

      & > * {
        margin-bottom: 1rem;
      }
    }

    &--sidebyside {
      display: flex;
      justify-content: space-between;
    }

    &--header {
      font-size: 1.6rem;
      font-weight: bold;

      &:not(:first-of-type) {
        margin-top: 2rem;
      }
    }

    &--text {
      font-size: 1.4rem;
      font-weight: bold;
      margin-right: 1rem;
    }
  }

  &__range {
    height: 2rem;
    flex: 1;
    margin-right: 1rem;
  }

  &__option {
    padding: .5rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 .4rem .8rem rgba(black, .5);
  }

  &__input {
    padding: .5rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 .4rem .8rem rgba(black, .5);

    &:not(:last-of-type) {
      margin-right: .5rem;
    }
  }

  &__button {
    width: 50%;
    padding: .5rem 1rem;
    background-color: orangered;
    border-radius: 1rem;
    box-shadow: 0 .4rem .8rem rgba(black, .5);
    transition: all .2s;

    &:not(:disabled) {
      &:hover {
        cursor: pointer;
        box-shadow: 0 .7rem 1.2rem rgba(black, .7);
        transform: translateY(-.2rem);
      }

      &:active {
        transform: translateY(-.1rem);
      }
    }

    &:not(:last-of-type) {
      margin-right: .5rem;
    }

    &--long { width: 100%; }
    &--auto { width: auto; }

    &--pressed {
      background-color: aquamarine;
    }
  }

  &__info {

    @media print { display: none; }

    font-size: 1.4rem;
    padding: 1rem 2rem;
    line-height: 2rem;

    &--title, &--subtitle {
      font-weight: bold;
    }

    &--title {
      font-size: 2.5rem;
      padding: 2rem;
      padding-bottom: 0rem;
    }

    &--subtitle {
      font-size: 1.4rem;
    }

    &--description {
      margin-top: 1rem;
    }

    &--packages {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;

      a {
        text-decoration: none;
        color: var(--color-juxtapose-light);
      }
    }

    &--package {
      font-weight: bold;
      margin-left: 2rem;
      line-height: 2.5rem;
      &:first-of-type { margin-top: 1rem; }
    }

    &--applications {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
    }

    &--application {
      font-weight: bold;
      margin-left: 2rem;
      line-height: 2.5rem;
      &:first-of-type { margin-top: 1rem; }
    }

    &--notes {

      margin-top: 3rem;

      ul {
        li {
          margin-top: .3rem;
        }
      }
    }

  }
}


