.control-instructions {
    font-size: 12px;
    line-height: 1.4;
    letter-spacing: 1.2px;
    cursor: pointer;
}

.control-instructions ol {
    margin-left: -20px;
}

.instructions-dismiss {
    color: salmon;
    letter-spacing: 1.2px;
}